<% if(success && success.length){ %>
    <div role="alert" class="alert alert-success">
        <%= success %>
    </div>
    <% } %>

        <% if(error && error.length){ %>
            <div role="alert" class="alert alert-success">
                <%= error %>
            </div>
            <% } %>