<% layout('layouts/boilerplate') %>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-6  col-xl-4 ">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1445888761652-fc13cbb0d819?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjQ4fHxjYW1wZmlyZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/register" method="POST" novalidate class="validate-form">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="email" class="form-control" id="email" name="email"
                                    aria-describedby="email-label" aria-label="email" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        <button class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    