#add-camp{
    color: red;
    text-shadow: 1px 1px 2px  black, 0 0 1em white, 0 0 .2em grey;
    font-weight: 700;
    border: 2px solid red;
    background-color: rgb(131, 74, 20);
    text-decoration: underline;
    text-decoration-color: black;
    
}

.reviews{
    border-bottom: 5px solid black;
}

abbr {
    font-style: italic;
    font-size: smaller;
    font-weight: 300;
    margin-left: 25px;
}

.timeStamp {
    color: rgb(7, 18, 47);
    font-size: .75rem;
    font-weight: 900;
    font-style: italic;
}



.campTitle {
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-style: wavy;
}


.pictureFrame {
    height: 10rem;
    
    border: 2px solid black;
    overflow: hidden;

}


  
/* input[type="checkbox"]{
    display: none;
  } */
  
label {
    
    
    display: block;
    position: relative;
    margin: 0px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
label::before {
    background-color: blue;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    opacity: 0;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
label img {
    height: 15rem;
    /* width: 100px; */
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  
:checked+label::before {
    content: "✓";
    background-color: green;
    transform: scale(1);
    box-shadow: 0 0 10px black ;
    opacity: 1;
    z-index: 10;
  }
  
:checked+label img {
    opacity: .8;
    transform: scale(0.9);
    box-shadow: 0 0 9px #333;
    z-index: -1;
  }