<% layout('layouts/boilerplate') %>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <div class="col-md-6  col-xl-4 ">
            <div class="card shadow">
                <img height="300px" src="../images/compas.jpg"
                    class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" novalidate class="validate-form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="username" id="username" autofocus required>
                            <label class="form-label" for="username">Username</label>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password" required>
                            <label class="form-label" for="password">Password</label>
                            <div class="valid-feedback">
                                looks good!
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary">login</button>
                            <a class="btn btn-warning" href="/forgot">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>